* { margin: 0; padding: 0; }
html, body { height: 100%; overflow: hidden; background:#000; color:#fff;}
a { color:#ccf; text-decoration:none; }
ul { list-style-type:none; }
#sidebar { float:left; width: 40%; height:100%; overflow:auto; }
#player { float:left; width: 60%; height: 100%; padding: 10px; }
#sidebar li { margin: 0 10px 10px; }
.synopsis { text-decoration: none; color: inherit; }
a img { border: none; padding: 0 5px 10px; }
#sidebar li div { float: left; }
h3.date { float:left; clear:both; margin: 10px 0; }
.download { height: 24px; width: 174px; }
